/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

.role-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
     padding: 0px 50px;
    text-align: center;

    background:
        radial-gradient(
            circle at 10% 20%,
            rgba(37, 99, 235, 0.10),
            transparent 30%
        ),
        radial-gradient(
            circle at 90% 80%,
            rgba(124, 58, 237, 0.08),
            transparent 30%
        ),
        #f7faff;
}

.title{
    color: #1e3a8a;
    font-size: 50px;
    margin-bottom: 10px;
}

.subtitle{
    color: #475569;
    margin-bottom: 60px;
    font-size: 20px;
}

.role-container{
    display: grid;
    grid-template-columns: repeat(2,260px);
    gap: 35px;
}

.role-card{
    height: 220px;
    text-decoration: none;
    color: #1e3a8a;

    background: #eef4ff;
    border: 1px solid #cbd5e1;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.35s ease;
}

.role-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.icon{
    font-size: 55px;
    margin-bottom: 15px;
}

.role-card h2{
    margin-bottom: 8px;
    font-size: 28px;
    color: #1e3a8a;
}

.role-card p{
    color: #475569;
    font-size: 16px;
}

/* Different Card Colors */

.student{
    background: #e0f2fe;
}

.faculty{
    background: #dcfce7;
}

.hod{
    background: #f3e8ff;
}

.admin{
    background: #fef3c7;
}

/* Hover Colors */

.student:hover{
    background: #bfdbfe;
}

.faculty:hover{
    background: #bbf7d0;
}

.hod:hover{
    background: #ddd6fe;
}

.admin:hover{
    background: #efe3b4;
}
.role-page {
    animation: zoomIn 1s ease;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.75);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* Responsive */

@media (max-width:650px){

    .role-container{
        grid-template-columns: 1fr;
    }

    .title{
        font-size: 40px;
        text-align: center;
    }

    .subtitle{
        text-align: center;
        font-size: 18px;
    }
}